.aurora {
  --f7-navbar-height: 60px;
  --f7-navbar-tablet-height: 38px;
  --f7-navbar-font-size: 20px;
  --f7-navbar-inner-padding-left: 15px;
  --f7-navbar-inner-padding-right: 15px;
  --f7-navbar-title-font-weight: 500;
  --f7-navbar-title-margin-left: 0;
  --f7-navbar-title-margin-right: 0;
  --f7-navbar-title-text-align: center;
  --f7-navbar-subtitle-text-color: rgba(0, 0, 0, 0.6);
  --f7-navbar-subtitle-font-size: 12px;
  --f7-navbar-subtitle-line-height: 1;
  --f7-navbar-shadow-image: none;
  --f7-navbar-large-title-height: 38px;
  --f7-navbar-large-title-font-size: 26px;
  --f7-navbar-large-title-font-weight: bold;
  --f7-navbar-large-title-letter-spacing: -0.03em;
  --f7-navbar-large-title-padding-left: 15px;
  --f7-navbar-large-title-padding-right: 15px;
  --f7-navbar-link-height: auto;
  --f7-navbar-link-line-height: inherit;
  --f7-tabbar-link-inactive-color: #6f706f;
  --f7-tabbar-link-inactive-bg-color: #222222;
}

:root {
  --f7-navbar-bg-color: #222222;
  --f7-navbar-border-color: transparent;
  --f7-navbar-link-color: white;
  --f7-navbar-text-color: white;
  --f7-navbar-hide-show-transition-duration: 20ms;
  --f7-navbar-title-line-height: 1.2;
  --f7-navbar-title-font-size: inherit;
  --f7-navbar-subtitle-text-align: inherit;
  --f7-navbar-large-title-line-height: 1.2;
  --f7-navbar-large-title-text-color: inherit;
  --f7-toolbar-bg-color: #2B2929;
  --f7-toolbar-bg-image: var(--f7-bars-bg-image);
  --f7-toolbar-border-color: #222222;
  --f7-toolbar-link-color: var(--f7-bars-link-color);
  --f7-toolbar-text-color: white;
  --f7-tabbar-link-active-color: white;
  --f7-tabbar-link-active-bg-color: #2B2929;
  --f7-tabbar-label-text-transform: none;
  --f7-toolbar-hide-show-transition-duration: 400ms;
  --f7-popup-border-radius: 0px;
  --f7-popup-tablet-width: 70%;
  --f7-popup-tablet-height: 630px;
}

.demo-card-header-pic .card-header {
  height: 1500px;
  width: 100%;
  background-size: cover;
}
